<!-- 읽기 전용 모드 아닐 때 -->
<div 
    *ngIf="readOnly === false"
    class="round_div" 
    (mouseover)="showMiniMenu()"
    (mouseout)="hideMiniMenu()"
    >
  <!-- Title -->
  <div id="title_div" (click)="changeFoldPage($event)" style="position:relative;">
    <!-- 기본 타이틀 표시 -->
    <div 
      id="title"
      *ngIf="isEditTitle === false"
      (click)="changeTitleMode($event)">
      {{ item.title !== undefined && item.title !== '' ? item.title : 'Title' }}
      <!-- MiniMenu -->
      <div style="display: inline-block; position:absolute; right: 0px; top: 0px;">
        <app-minimenu
          [order]="orderChild"
          [object]="{ request: 'Fast', object: item }"
          (output)="receiveOutput($event)">
        </app-minimenu>
      </div>
    </div>
    <!-- 타이틀 수정 모드 -->
    <div
        id="title"
        *ngIf="isEditTitle === true">
      <input 
            type="text"
            (keypress)="saveTitle($event)"
            (click)="doNothing()">
    </div>
  </div>
  <!-- folding page -->
  <div [hidden]="isFoldPage">
    <!-- TextArea -->
    <div>
      <div  
          class="text_div"
          [hidden]="isEditTextArea"
          (click)="changeTextAreaMode()">
        <pre id="pre">{{ item?.text ? item.text : 'Insert new text..' }}</pre>
      </div>
      <div  
          class="text_div"
          (click)="doNothing()"
          [hidden]="!isEditTextArea">
        <textarea #text id="edit_text" class="text_area"></textarea>
      </div>
    </div>
    <!-- TAGs -->  
    <div>
      <app-tag [tagList]="item?.tags" (outTagList)="receiveTagList($event)"></app-tag>
    </div>
    <div [hidden]="!isEditTextArea">
      <button id="btn_save"
              class="button left_button"
              (click)="saveFast()">
        Save
      </button>
      <button id="btn_reset"
              class="button right_button"
              (click)="resetFast()">
        Reset
      </button>
    </div>
  </div>
</div>
