<div class="def_background_color" id="main_grid" (click)="clickEvent($event)">
  <div>
    <div>
        <app-toolbar></app-toolbar>
    </div>
    
    <div *ngFor="let project of projectList" style="display:inline-block;" >
      <app-project  
        [projectId]="project._id"
        [isEditable]="false"
        (output)="receiveRequest($event)"
        [order]="orderChild"
        >
      </app-project>
    </div>
    
    <div style="display:inline-block;">
      <app-project 
        [isNewMode]="true" 
        (output)="receiveRequest($event)"
        >
      </app-project>
    </div>
  </div>
</div>