<div *ngIf="new">
  <input 
    type="text" 
    placeholder="plz input new checkbox"
    (keypress)="createNewCheckBox($event)"  
  >
</div>

<div *ngIf="!new">
  <div 
    class="main_grid"
  >
    
    <div id="checkbox_div">
      <input 
      type="checkbox" 
      (change)="changedCheckState($event)" 
      [checked]="displayCheckbox.isChecked"
      (click)="stopEventBubbling($event)"  
      >
    </div>

    <div>
      <div 
        id="checkbox_text"
        [hidden]="isEditText"
        (click)="changeIsEditText($event)"
        [style.text-decoration]="displayCheckbox.isChecked ? 'line-through' : 'none'"
      >
        {{ displayCheckbox?.text }}
      </div>
      <div [hidden]="!isEditText">
        <input 
          #inputText
          type="text" 
          placeholder="text" 
          [value]="displayCheckbox.text"
          (focusout)="changeIsEditText($event)"
          (keypress)="changedTextState($event)"
        >
      </div>
    </div>

    <div 
      id="close"
      (click)="removeCheckBoxItem($event)"  
    >
      <i class="material-icons">close</i>
    </div>
  </div>
</div>