<div class="main main_grid" (click)="orderChildEvent($event)">

  <div>
    <div class="toolbar_grid">
        
      <app-toolbar 
        [project]="project" 
        [order]="orderChild"
        (output)="receiveOutput($event)">
      </app-toolbar>

      <div>
        <div class="fast_input_grid">
          
          <div style="display:grid; justify-content:center;">
            <div>
              <app-fast-input 
                [project]="project"
                [order]="orderChild">
              </app-fast-input>
            </div>
          </div>
          
          <div>
            <!-- Subject List -->
            <div *ngFor="let subject of subjectList">
              <app-subject  [subject]="subject"
                            [project]="project"
                            [order]="orderChild"
                            (output)="receiveOutput($event)"
                            >
              </app-subject>
            </div>
            <!-- New Subject -->
            <div>
              <app-subject [isNewMode]="true" [project]="project" (output)="receiveOutput($event)"></app-subject>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

</div>    