<div id="main_grid" (click)="orderChildEvent($event)">

  <!-- Toolbar -->
  <div id="toolbar_div">
    <app-toolbar 
      [project]="project" 
      [order]="orderChild"
      (output)="receiveOutput($event)">
    </app-toolbar>
  </div>

  <!-- Fast Input -->
  <div id="fast_input_div">
    <app-fast-input 
      [project]="project"
      [order]="orderChild">
    </app-fast-input>
  </div>

  <!-- Subject List -->
  <div>
    <div
      id="subject_list_div"
      *ngFor="let subject of subjectList">
      <app-subject  
        [subject]="subject"
        [project]="project"
        [order]="orderChild"
        (output)="receiveOutput($event)">
      </app-subject>
    </div>
    <!-- 새로운 서브젝트 입력 받기 -->
    <div>
      <app-subject [isNewMode]="true" [project]="project" (output)="receiveOutput($event)"></app-subject>
    </div>
  </div>

  <!-- Empty Space -->
  <div></div>
</div>