<div id="main_grid" (click)="focusOutManage($event)">
  <!-- toolbar -->
  <div id="toolbar_grid">
    <app-toolbar></app-toolbar>
  </div>
  <!-- Fast Mini List -->
  <div>
    <app-fast-minilist
      [fastList]="fastList"
      [order]="orderChild"
    >
    </app-fast-minilist>
  </div>

  <!-- Item Detail -->
  <div id="item_detail_div">
    <!-- Title -->
    <div style="margin-bottom: 14px;">
      <!-- 타이틀 수정 화면 -->
      <div [hidden]="!ui.value.state.isEditTitle">
        <form [formGroup]="titleForm">
          <input 
            #MyTitle
            name="title"
            class="title_input_text"
            type="text"
            [formControlName]="'title'"
            [value]="displayItem?.title"
            (keypress)="saveTitle($event)"
            (click)="clickedEditingTitle($event)"
            >
        </form>
      </div>
      <!-- 타이틀 기본 표시 화면 -->
      <div [hidden]="ui.value.state.isEditTitle">
          <a
            id="title_text"
            name="title"
            (click)="clickedTitle();"
            >
            {{ displayItem?.title }}
          </a>
      </div>
    </div>
    <!-- Textarea -->
    <div>
      <!-- 내용 수정 화면 -->
      <div [hidden]="!ui.value.state.isEditText">
        <form [formGroup] = "textForm" >
          <textarea
            #MyTextarea
            name="text"
            class="text_area"
            [class.text_area]="true"
            [formControlName]="'textarea'"
            [value]="displayItem?.text ? displayItem.text : ''"
            (click)="clickedEditingText($event)"
            ></textarea><br>
          <button class="save_button"
                  (click)="saveText(MyTextarea)">Save</button>
        </form>
      </div>
      <!-- 내용 기본 화면 -->
      <div [hidden]="ui.value.state.isEditText" style="word-break: break-all;">
        <span #target
          (click)="clickedText($event)"
          name="text"
          >
        </span>
      </div>
    </div>
    <!-- Tag -->
    <div>
      <app-tag
        [tagList]="displayItem?.tags"
        (outTagList)="receiveTagList($event)">
      </app-tag>
    </div>
  </div>

  <!-- Right empty space -->
  <div></div>
</div>