@import '../../../../styles';

#main_grid {
    display: grid;
    // grid-template-columns: 1fr 768px 1fr;
    grid-template-columns: 1fr $g_mediaTablet 1fr;
    grid-template-rows: 40px 1fr;
    background-color: #e6e6e6;
    height: 100%;
    /* grid-gap: 10px; */
}

#toolbar_grid {
    grid-column: 1 / 4;
}

#item_detail_div {
    border: 2px solid #4d4d4d;
    margin: 10px;
    padding: 10px;
    height: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.title_input_text {
    border: 0px solid #7fc697;
    background-color: #eef9f0;
    border-radius: 1px;
    resize: none;
    font-size: 24px;
}

#title_text {
    font-size: 24px;
    margin-bottom: 10px;
}

.text_area {
    border: 0px solid #4d4d4d;
    background-color: #e6e6e6;
    resize: none;
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: $g_mediaTablet * 0.9;
    box-sizing: border-box;
    color: #4d4d4d;
}

.save_button {
    border: 1px solid #4d4d4d;
    border-radius: 2px;
    background-color: #e6e6e6;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #4d4d4d;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.3s;

    &:hover {
        background-color: #d9d9d9;
    }
}

.test {
    border: 1px solid #4d4d4d;
}