<div class="main_div" id="minimenu_main_div">
  <!-- 메뉴 레이어 -->
  <div  #menu_layer 
        id="menu_div"
        [hidden]="true" >
    <div id="inside_line">
      <!-- Project menu -->
      <div *ngIf="object?.request === 'Project'">
        <app-project-menu 
          [object]="object"
          (output)="Output($event)">
        </app-project-menu>
      </div>
      <!-- Subject menu -->
      <div *ngIf="object?.request === 'Subject'">
        <app-subject-menu
          [object]="object"
          (output)="Output($event)">
        </app-subject-menu>
      </div>
      <!-- Item menu -->
      <div *ngIf="object?.request === 'Item'">
        <app-item-menu
          [object]="object"
          (output)="Output($event)">
        </app-item-menu>
      </div>
      <!-- Fast menu -->
      <div *ngIf="object?.request === 'Fast'">
        <app-fast-menu
          [object]="object"
          (output)="Output($event)">
        </app-fast-menu>
      </div>
    </div>
  </div>
  <!-- 미니메뉴 버튼 -->
  <div  #menu_button [hidden]="true" 
        id="hide_menu"
        (click)="controlLayer($event, menu_layer)">
        =
  </div>
</div>