<div id="main_grid">

  <!-- 뒤로가기 버튼 -->
  <div id="arrow" (click)="goback($event)">
    <i class="material-icons">arrow_back</i>
  </div>

  <!-- 프로젝트 이름 -->
  <div
    *ngIf="projectId !== undefined" 
    id="project"
    >
    <app-project
      [projectId]="projectId"
      [isEditable]="true">
    </app-project>
  </div>

  <!-- 서브젝트 이름 -->
  <div
    *ngIf="subjectId !== undefined"
    >
    <app-subject>
      
    </app-subject>
  </div>

  <!-- 타이틀 -->
  <div id="title">Project Note</div>

  <!-- 유저 프로필 -->
  <div id="user" class="def_font_color">
    {{ aService.getUserInfo().display_name }}
  </div>
</div>