#main_grid {
    display: grid;
    grid-template-columns: 50px 200px auto auto;
    height: 2rem;
    background-color: gray;
}

#arrow {
    justify-self: start;
    align-self: center;
    cursor: pointer;
}

#project {
    justify-self: start;
    align-self: center;
}

#title {
    justify-self: center;
    align-self: center;
}

#user {
    justify-self: end;
    align-self: center;
}