<!-- 기존 Subject를 출력 화면 표시 -->
<div *ngIf="!isNewMode" class="main_grid">
    <!-- 타이틀 기본 표시 화면 -->
    <div *ngIf="isEditTitle === false"
          (mouseover)="showMiniMenuButton()"
          (mouseout)="hideMiniMenuButton()"
          style="position:relative;"
          >
      <div (click)="isEditTitle=true;" >
        {{ subject?.title }}
      </div>
      <!-- Mini menu -->
      <div style="display: inline-block; position:absolute; top: 0px; right: 0px;">
        <app-minimenu [object]="{ request: 'Subject', object: subject }"
                      [order]="orderChild"
                      (output)="receiveOutput($event)"
                      >
        </app-minimenu>
    </div>
    </div>
    <!-- 타이틀 수정 화면 표시 -->
    <div *ngIf="isEditTitle === true">
      <input type="text"
              [value]="subject?.title"
              (focusout)="isEditTitle=false;"
              (keypress)="saveTitle($event)"
      >
    </div>
  
    <!-- Item 출력 -->
    <div>
      <div *ngFor="let item of subject.items"
            style="display: inline-block;"
            >
        <app-item [item]="item" [order]="orderChild" (output)="receiveOutput($event)"></app-item>
      </div>
      <!-- 새로운 아이템 입력하기 -->
      <div style="display: inline-block;">
        <app-item [isNewItem]="true" [project]="project" [subject]="subject" (output)="receiveOutput($event)"></app-item>
      </div>
    </div>
  </div>
  
  
  <!-- 새로운 Subject입력 화면 표시 -->
  <div *ngIf="isNewMode" class="new_mode_grid">
    <div *ngIf="isEditTitle">
      <input #title
              type="text"
              (focusout)="isEditTitle=false;"
              (keypress)="sendNewSubject($event)"
              placeholder="Input New Subject Title.."
      >
      <template *ngIf="isEditTitle;then focusOn(title)"></template>
    </div>
    <div *ngIf="!isEditTitle">
      <span (click)="isEditTitle = true;" 
            id="insert_msg">
            Input New Subject Title..
      </span>
    </div>
  </div>
    