#main_grid {
    display: grid;
    grid-template-columns: 250px 2rem 2rem auto;
    grid-template-rows: auto auto;
}

#title_div {
    /* border-left: 2px solid #4d4d4d;
    border-top: 2px solid #4d4d4d; */
    /* background-color: white; */
}

#title {
    font-size: 20px;
}

#arrow_div {
    /* border-top: 2px solid #4d4d4d; */
    /* background-color: white; */
}

#menu_div {
    /* border-top: 2px solid #4d4d4d; */
    /* border-right: 2px solid #4d4d4d; */
    /* background-color: white; */
}

#empty_space_div {
    /* border-bottom: 2px solid #4d4d4d; */
}

#item_list_div {
    grid-column: 1 / 5;
    /* border-left: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    border-bottom: 2px solid #4d4d4d; */
    /* background-color: white; */
}

#new_mode_main_grid {
    display: grid;
    grid-template-columns: auto;
}

#insert_msg {
    color: gray;
}