<!-- @Input: isNewMode,  -->
<!-- isNewMode : 새로운 서브젝트 입력 용도인지 구분. -->
<!-- isEditTitle : 타이틀 입력이 수정 중인지 아닌지 구분. -->

<!-- 기본 서브젝트 출력 화면 -->
<div 
  id="main_grid"
  *ngIf="isNewMode === false"
  (mouseover)="showMiniMenuButton()"
  (mouseout)="hideMiniMenuButton()"
  >

  <!-- 서브젝트 타이틀 -->
  <div id="title_div">
    <div 
      id="title"
      *ngIf="isEditTitle === false"
      (click)="isEditTitle = true">
      {{ subject?.title }}
    </div>
    <div *ngIf="isEditTitle === true">
        <input 
          type="text"
          [value]="subject?.title"
          (focusout)="isEditTitle=false;"
          (keypress)="saveTitle($event)">
    </div>
  </div>

  <!-- 접기 -->
  <div id="arrow_div">Dn</div>

  <!-- 미니 메뉴 -->
  <div id="menu_div">
    <app-minimenu 
      [object]="{ request: 'Subject', object: subject }"
      [order]="orderChild"
      (output)="receiveOutput($event)">
    </app-minimenu>
  </div>

  <!-- 빈공간 -->
  <div id="empty_space_div"></div>

  <!-- 아이템 리스트 -->
  <div id="item_list_div">
    <div 
      *ngFor="let item of subject.items"
      style="display: inline-block;">
      <app-item 
        [item]="item" 
        [order]="orderChild" 
        (output)="receiveOutput($event)">
      </app-item>
    </div>
    <!-- 새로운 아이템 입력하기 -->
    <div style="display: inline-block;">
      <app-item 
        [isNewItem]="true" 
        [project]="project" 
        [subject]="subject" 
        (output)="receiveOutput($event)">
      </app-item>
    </div>
  </div>
</div>

<!-- 새로운 서브젝트 입력 화면 -->
<div 
  id="new_mode_main_grid"
  *ngIf="isNewMode === true">
  <div *ngIf="isEditTitle">
    <input 
      #title
      type="text"
      (focusout)="isEditTitle=false;"
      (keypress)="sendNewSubject($event)"
      placeholder="Input New Subject Title..">
    <template *ngIf="isEditTitle;then focusOn(title)"></template>
  </div>
  <div *ngIf="!isEditTitle">
    <span 
      id="insert_msg"
      (click)="isEditTitle = true;">
      Input New Subject Title..
    </span>
  </div>

</div>