.round_div {
    border-radius: 6px;
    border: 1px solid #7fc697;
    background-color: #7fc697;
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 5px;
}

.left_label {
    display: inline-block;
    border: none;
    border-left: 3px solid #7fc697;
    padding-left: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.red {
    border-left-color: red;
}

.left_label a:link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.left_label a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.left_label a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.left_label a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#insert_msg {
    color: gray;
}